
nav {
    border: 3px solid black;
}

nav li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 12px;
    background-color: lightcoral;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav > ul > li.active {
    background-color: whitesmoke;
    font-weight: bold;
    border: 2px dashed black;
    border-radius: 10px;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
    font-size: x-large;
}

header > #main {
    font-size: 24px;
    margin: 12px 0;
    padding: 12px;
    text-align: center;
    animation: animate 4s infinite;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
}

header {
    /* border: solid black;
    margin: 5px;
    background-color: #FFA500; */
}

main {
    /* border: solid black; */
    /* margin: 5px; */
    padding: 12px;
    background-color: #FFA500;
}

body {
    border: 3px solid black;
    margin: 5px;
    background: #FFA500 url(../images/vets.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Urbanist', sans-serif;
}

p {
    font-size: 18px;
    padding: 3px;
}

footer p {
    border: none;
}

footer {
    background-color: cornflowerblue;
    /* border: 3px solid black; */
    padding: 10px;
    margin-top: 10px;
}

div {
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    margin: 12px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 1fr;
}

div > p {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: auto;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto;
    grid-gap: 10px;
}

img:hover {
    filter: grayscale();
    border: dashed;
}

.fas {
    size: 5px;
    font-style: normal;
    color: black;
    border: 1px solid grey;
}


#fs-frm-inputs{
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow > div {
    border: none;
}

.slideshow > .text, .numberText {
    border: none;
}

.imageSlide {
    display: none;
}

.text {
    border: none;
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numberText {
    color: #ff4500;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.dotList {
    justify-content: center;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px){
    .images {
        display: grid;
        grid-template-columns: auto;
    }
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (prefers-reduced-motion: reduce) {
    #main {
        animation: none;
    }
}
