
nav {
    border: 3px solid black;
}

nav li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 12px;
    background-color: lightcoral;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav > ul > li.active {
    background-color: whitesmoke;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
    font-size: x-large;
}

h1 {
    font-size: 24px;
    margin: 12px 0;
    padding: 12px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
}

header {
    border: solid black;
    margin: 5px;
    background-color: #FFA500;
}

main {
    border: solid black;
    margin: 5px;
    padding: 12px;
    background-color: #FFA500;
}

body {
    border: 3px solid black;
    margin: 5px;
    background: #FFA500 url(../images/vets.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Urbanist', sans-serif;
}

p {
    font-size: 18px;
    padding: 3px;
}

footer p {
    border: none;
}

footer {
    background-color: cornflowerblue;
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
}

div {
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 12px;
    padding: 3px;
}

div > p {
    display: flex;
    flex-direction: row;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

img:hover {
    filter: grayscale();
    border: dashed;
}

.fas {
    size: 5px;
    font-style: normal;
    color: black;
    border: 1px solid grey;
}


#fs-frm-inputs{
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
    .images {
        display: grid;
        grid-template-columns: auto;
    }
}